[Unit]
Description=Kickoff Minikube Cluster
After=docker.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/minikube start --driver=docker --cpus=4 --memory=max --install-addons=true --addons dashboard --addons metrics-server --addons ingress --mount --mount-string /home/{{ ansible_user }}:/host
RemainAfterExit=true
ExecStop=/usr/local/bin/minikube stop
StandardOutput=journal
User={{ ansible_user }}
Group={{ ansible_user }}

[Install]
WantedBy=multi-user.target